{% extends 'back.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    {{ form_start(form)}}
    <div class="input-group input-group-outline my-3">

        {{ form_widget(form.description, { 'attr': {'class':'form-control', 'placeholder': 'Categorie'}}) }}<br>
        {{ form_errors(form.description) }}<br>
        <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2" style="text-align: center !important;"formnovalidate>Ajouter</button>
    </div>


    {{ form_end(form)}}
{% endblock %}
